<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
<!--  <title>Image Upload and Display</title>-->
<!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>
<body>
<h1 th:text="|Hello, ${username}!|"></h1>
<h1 th:text="|Hello, ${role}!|"></h1>

<div th:include="fragments :: uploadForm">
</div>

<div th:include="fragments :: showFiles">
</div>

<div th:include="fragments :: adminEdit">
</div>

<div th:include="fragments :: mailSender">
</div>


<!-- Logout button -->
<div th:include="fragments :: logoutForm">
</div>



</body>
</html>
