<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>All Users</title>
</head>
<body>
<h1>All Users</h1>
<span sec:authentication="name">Username</span>

<!-- Show all roles of the current user -->
<span sec:authentication="principal.authorities">Roles</span>

<!-- Section visible only to authenticated users -->
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.roles">Roles</span></i>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
